sudo apt-get install build-essential curl libcap-dev git cmake libncurses5-dev python-minimal python-pip unzip libtcmalloc-minimal4 libgoogle-perftools-dev libsqlite3-dev doxygen

sudo apt-get install python3 python3-pip gcc-multilib g++-multilib 

pip3 install lit tabulate wllvm

sudo apt-get install clang llvm-10*

sudo apt-get install cmake bison flex libboost-all-dev perl minisat
git clone https://github.com/stp/stp
git submodule init && git submodule update
cd stp
mkdir build
cd build
cmake ..
cmake --build .
sudo cmake --install .

git clone https://github.com/klee/klee-uclibc.git  
cd klee-uclibc  
./configure --make-llvm-lib  
make -j2  
cd .. 

mkdir build
cd build

cmake -DENABLE_SOLVER_STP=ON -DENABLE_POSIX_RUNTIME=ON -DENABLE_KLEE_UCLIBC=ON -DKLEE_UCLIBC_PATH=../include/klee-uclibc/ -DLLVM_CONFIG_BINARY=/usr/lib/llvm-10/bin/llvm-config -DENABLE_KLEE_LIBCXX=ON -DENABLE_UNIT_TESTS=OFF -DLLVMCC=/usr/lib/llvm-10/bin/clang -DLLVMCXX=/usr/lib/llvm-10/bin/clang++ -DKLEE_LIBCXX_DIR=/home/namrata/libc++-install-10/ -DKLEE_LIBCXX_INCLUDE_DIR=/home/namrata/libc++-install-10/include/c++/v1/ ../klee/

make
